<!-- Header -->
<header id="mainHeader">
  <div class="logo">
    <img src="/img/logo-ar.png" alt="logo" class="logo" />
  </div>
  <nav class="nav-menu">
    <a href="#">Systems</a>
    <a href="#">Software</a>
    <a href="#">Solutions</a>
    <a href="/about">About</a>
    <!-- <a href="#">Support</a> -->
    <a href="#" class="">Company</a>
    <a href="#">Shop</a>
  </nav>
  <div class="header-icons">
    <i class="icon user"></i>
    <i class="icon globe"></i><span class="lang">EN</span>
  </div>
</header>
