<style>
  .my-style-img {
    /* width: 100%; */
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .my-style-img div {
    height: 200px;
    width: 200px;
  }
  .my-style-img img {
    /* border-radius: 5px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    object-fit: cover;
  }
</style>

  <div class="col-12">
    <!-- JSON.stringify(images) -->
    <!-- <div class="card-body"> -->
    <%- %> <% if (images != null) { %>
    <div class="my-style-img" >
      <% images.forEach(img => { %>
      <div style="">
        <img src="/uploads/<%= folderName %>/<%= img %>" />
        <p><%= img %></p>
      </div>
      <% }) %>
    </div>
    <% } %>
    <!-- </div> -->
  </div>
