<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5 class="m-b-10">News</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#!">Post</a></li>
          <li class="breadcrumb-item"><a href="#!">create new post</a></li>
          <!-- <li class="breadcrumb-item" aria-current="page">Home</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- breack-crum -->

<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <h3>Create new Post</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="tile" class="form-label">Title <span style="color: red;">(*)</span></label>
          <input type="text" id="title" class="form-control" required placeholder="Enter title here" />
        </div>
        <div class="form-group">
          <label for="desc" class="form-label">Desc</label>
          <textarea id="desc" type="text" class="form-control" placeholder="Enter desc" rows="4"></textarea>
        </div>
      </div>
      <div class="card-header">
        <h5>Content post <span style="color: red;">(*)</span></h5>
      </div>
      <div class="card-body">
        <textarea id="pc-tinymce-4" name="pc-tinymce-4" class="tox-target" placeholder="Write here">
        </textarea>
      </div>
      <br />
      <div class="card-body">
        <div class="form-group">
          <div class="form-label">SEO keyword</div>
          <textarea class="form-control" id="keyMeta" rows="1" ></textarea>
        </div>
        <div class="form-group">
          <div class="form-label">SEO Description</div>
          <textarea class="form-control" id="descMeta" rows="1" style=""></textarea>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5>Category <span style="color: red;">(*)</span></h5>
        <br />
        <div class="form-group">
          <!-- <label class="form-label">Default select</label> -->
           <select id="formSelectCategory" class="form-select">
             <option value="default">Choose opotions</option>
             <% categories.forEach(cat=>{ %>
              <option value="<%=cat._id%>"><%= cat.name %></option>
              <%})%>
            </select>
        </div>
           
        <div class="show-image" style="margin: 0 auto;" id="show-image">
          <img src="/img/hero-banner.jpg" data-folder="image-1.png" alt="pre-img" style="display: inline-block; width: 100%; height: 250px; object-fit: cover; ">
        </div> <br>
        <div class="form-group mb-3">
          <label class="form-label">Choose image</label>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Choose image</button>

        </div>
        <!-- action -->
        <div class="form-group">
          <button id="submitMaster" type="submit" class="btn btn-primary">Save</button>
          <button type="reset" class="btn btn-secondary">Reset</button>
          <!-- <button type="button" class="btn btn-danger">Delete</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- our ========================================================================================================================================================-->
<!-- [Page Specific JS] start -->
<!-- <script src="../assets/js/plugins/tinymce/tinymce.min.js"></script> -->
<script src="/admin/assets/js/plugins/tinymce/tinymce.min.js"></script>
<!-- tagify -->
<script>

  tinymce.init({
    height: "250",
    selector: "#pc-tinymce-4",
    content_style: 'body { font-family: "Inter", sans-serif; }',
    menubar: false,
    toolbar: [
      "styleselect fontselect fontsizeselect",
      "undo redo | cut copy paste | bold italic | link image | alignleft aligncenter alignright alignjustify",
      "bullist numlist | outdent indent | blockquote subscript superscript | advlist | autolink | lists charmap | print preview |  code",
    ],
    plugins: "advlist autolink link image lists charmap print preview code",
  });
</script>

<!-- My JQuery start-->

<!-- new -->
 <script>
  document.addEventListener("DOMContentLoaded", function() {
    //code here
    //submit form
    document.getElementById('submitMaster').addEventListener('click', function(el){
      //
      el.preventDefault(); //tranh readload trang
      const title = document.getElementById('title').value;
      const desc = document.getElementById('desc').value;
      const content = tinymce.get('pc-tinymce-4').getContent();
      const keyMeta = document.getElementById("keyMeta").value;
      const descMeta = document.getElementById("descMeta").value;
      const category = document.getElementById("formSelectCategory").value;
      const imagePath = "image1.jpg"
      const data={
        title,
        desc,
        content,
        keyMeta,
        descMeta,
        category,
        imagePath
      }
      console.log(data)
      //ajax
      $.ajax({
        url: `/admin/news/post/create`,
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify(data),
        success: (res)=>{
          if(res.success){
            // alert("add post success")
            window.location=`/admin/news/post/index`
          }
        },
        error: (err)=>{
          alert("add post failed")
          console.log(err)
        }
      })
    })

  })
 </script>
<!-- old -->
<!-- <script>
  $(document).ready(function () {
    $("#myListFolder").on("click", "li", function () {
      // "this" chính là thẻ <li> được click
      // alert('Bạn đã click vào: ' + $(this).text() +$(this).data('id-folder'));
      const name = $(this).data("id-folder");
      // alert("Bạn đã click vào: " + name);
      $.ajax({
        url: `/admin/mews/handle-image/${name}`,
        method: "POST",
        contentType: "application/json",
        // data: JSON.stringify({

        // }),
        // dataType: 'json',
        success: (res) => {
          console.log(res);
          document.getElementById("image-content").innerHTML = res;
        },
        error: (err) => {
          alert("Lỗi khi gửi yêu cầu AJAX");
        },
      });
    });

    //
    // $('#test_jquery').on('click', ()=>{
    // alert('JQuery is working!');

    // })
    $('#submitMaster').on('click', (e)=>{
      e.preventDefault(); //tranh readload trang
      const title  = $('#title').val();
      const desc = $('#desc').val();
      const content = tinymce.get("pc-tinymce-4").getContent();
      const category = $('#formSelectCategory').val();
      const keyMeta =$('#keyMeta').val();
      const descMeta =$('#descMeta').val();
      const dataFolder = $('#show-image img').data('folder');
      // console.log(title, desc, content, category, keyMeta, descMeta, dataFolder);  //check data
      //ajax
      $.ajax({
        url: '/admin/news/form-create-post',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          title,
          desc,
          content,
          category,
          keyMeta,
          descMeta,
          dataFolder
        }),
        success: (resp)=>{
          // alert("Tạo bài viết thành công!");
          alert("server resp: " + resp);
        },
        error: (err)=>{
          alert("Lỗi khi gửi yêu cầu AJAX"+ err);
        }

      });
      // ===



    })

    $("#saveBtn").on("click", function (e) {
      e.preventDefault(); // tránh reload


      // Lấy dữ liệu từ input
      const title = $("#title").val();
      const slug = $("#slug").val();

      // Lấy dữ liệu từ thuộc tính data
      const type = $(this).data("type");
      const user = $(this).data("user");

      // Gửi dữ liệu bằng jQuery AJAX
      $.ajax({
        url: "/api/save-data", // route bạn định nghĩa trong Express
        method: "POST",
        contentType: "application/json",
        data: JSON.stringify({
          title,
          slug,
          type,
          user,
        }),
        success: function (response) {
          alert("Thành công: " + response.message);
        },
        error: function (xhr, status, error) {
          alert("Lỗi: " + error);
        },
      });
    });
  });
</script> -->