<!DOCTYPE html>
<html>
  <head>
    <title>404 - Không tìm thấy trang</title>
  </head>
  <body>
    <h1>Oops! Trang bạn tìm không tồn tại 😢</h1>
    <a href="/">Quay về trang chủ client</a>
  </body>
</html>
