
<% locals.f_data = hp.f_desc %>
<style>
  #about{
    background-image: url('/img/map-desktop.svg');
    background-size: cover;          /* Ảnh phủ toàn bộ section */
  background-position: center;     /* Căn giữa ảnh */
  background-blend-mode: soft-light; /* hoặc soft-light, overlay */
  /* opacity: 0.1; giảm độ rõ của họa tiết */
  }
</style>
<div class="banner-hero">
  <!-- 🔥 Video nền YouTube -->
  <iframe
    src="https://www.youtube.com/embed/Au6LqK1UH8g?autoplay=1&mute=1&controls=0&loop=1&playlist=Au6LqK1UH8g&modestbranding=1&showinfo=0"
    frameborder="0"
    allow="autoplay; fullscreen; encrypted-media"
    allowfullscreen>
  </iframe>

  <div class="banner-content">
    <h2><%=hp.hero_title%></h2>
    <p><%-hp.hero_desc%></p>
    <!-- <button onclick="scrollToSection('about')">Explore now</button> -->
  </div>
</div>

<section class="section-hero" id="about">
  <h3><%=hp.about_title%></h3>
  <p><%-hp.about_desc%></p>
</section>
<style>
  .my-card{
    /* background-image: url('https://pace8.vn/assets/pace8vn/img/article.png') ; */
    height: 250px;
    width: 300px;
    border: 1px solid #ccc;
    position: relative;
    z-index: 5;
  }
  .my-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  .my-card::before {
   content: "";
  position: absolute;
  inset: 0;
  /* https://pace8.vn/assets/pace8vn/img/article.png */
  /* /img/pattern_rbg.png */
  background: url("/img/pattern_rbg.png");
  background-size: contain;
  opacity: 0.2;
  mix-blend-mode: soft-light; /* hoặc overlay, soft-light */
  pointer-events: none;
  z-index: 0;
}
.my-container{
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
}
</style>
<div class="my-container">
  <div class="my-card">
  <div class="card-header">
    <img src="/img/ar-hero.jpg" alt="">
  </div>
  <div class="card-body">
    <p class="title">Title</p>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</div>
</div>
<!-- FontAwesome -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<script>
  function scrollToSection(id) {
    document.getElementById(id).scrollIntoView({ behavior: "smooth" });
  }
</script>
