<div class="card">
  <div class="card-header" style="margin-bottom: 20px;">
    <% if (posts && posts.length > 0) { %>
      <% posts.forEach(post => { %>
        <h2><%= post.title %></h2>

        <% if (post.updatedAt) { %>
          <p class="card-text">
            <small class="text-muted">
              Last updated <%= post.updatedAt.toLocaleDateString() %>
            </small>
          </p>
        <% } else { %>
          <p class="card-text"><small class="text-muted">No update date</small></p>
        <% } %>

        <% if (post.content) { %>
          <p><%- post.content %></p>
        <% } else { %>
          <p><em>Không có nội dung.</em></p>
        <% } %>

        <hr /> <br>
      <% }) %>
    <% } else { %>
      <p>Không có bài viết nào.</p>
    <% } %>
  </div>
</div>